#login {
    background-image: url(../../../../assets/images/bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-icon {
    color: #fff;
}
