<section id="login">
    <div class="container">
        <div class="col-md-6  mx-auto">
            <div class="auth-card">
                <div class="title my-3">
                    <span>welcome to PMS</span>
                    <h3>Login</h3>

                </div>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="Enter your email">
                </mat-form-field>

                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

                    </button>
                </mat-form-field>
                <div class="d-flex justify-content-between align-items-center my-2 ">
                    <a class="text-decoration-none text-white">Register Now</a>
                    <a class="text-decoration-none text-white">Forget Password ?</a>
                </div>

                <button class="primary w-100">Login</button>
            </div>
        </div>
    </div>
</section>